---
import BaseLayout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";

const links = [
  { label: "Inicio", href: "#hero" },
  { label: "Ventajas", href: "#advantages" },
  { label: "Galería", href: "#app-images" },
  { label: "Sígueme", href: "#social" },
  { label: "Contacto", href: "#footer" },
];
---
<BaseLayout>
  <Navbar links={links} />
    <section id="hero">
    <h1>¡Bienvenido a Hábitus!</h1>
  </section>
</BaseLayout>
