---
 import "../styles/global.css"; // Ruta a tu archivo de estilos globales
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Hábitus App iOS</title>
  </head>
  <body>
    <slot />
  </body>
</html>
